# =====================================================================
#                             ЛОГИРОВАНИЕ
# =====================================================================
[Ll]ogs/
*.log

# =====================================================================
#                  КЭШ PYTHON И АРТЕФАКТЫ КОМПИЛЯЦИИ
# =====================================================================
__pycache__/
*.py[cod]
*.egg-info/
*.egg
.eggs/
MANIFEST

# =====================================================================
#                   НАСТРОЙКИ РЕДАКТОРОВ (VS CODE / IDEA)
# =====================================================================
.vscode/
.idea/
*.suo
*.sln

# =====================================================================
#                       ВИРТУАЛЬНЫЕ ОКРУЖЕНИЯ
# =====================================================================
.env
.env.json
.venv
env/
venv/
ENV/

# =====================================================================
#                       СИСТЕМНЫЙ МУСОР (WINDOWS / OS X)
# =====================================================================
Thumbs.db
ehthumbs.db
.DS_Store